body {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}
.container {
  margin: 10px auto;
  width: 900px;
  text-align: center;
}
.numbers {
  padding: 30px 30px 30px 30px;
  background-color: purple;
  border-radius: 10px;
  font-size: 5px;
  box-shadow: 1px 1px 0 #CCC,2px 2px 0 #CCC, 3px 3px 0 #444,5px 5px 0 #444,6px 6px 0 #444,7px 7px 0 #444;
}
.screen {
  box-shadow: 1px 1px 0 #CCC,1px 1px 0 #CCC, 1px 1px 0 #444,1px 1px 0 #444,2px 2px 0 #444,3px 3px 0 #444;
  width: 50%;
  border-radius: 10px;
  height: 50px;
  border: 50px;
  color: brown;
  background-color: #eee;
  text-align: right;
  font-size: 30px;
  display: inline-block;
}
.numbers .row {
  margin-top: 10px;
}
.numbers .num {
  box-shadow: 1px 1px 0 #CCC,1px 1px 0 #CCC, 1px 1px 0 #444,1px 1px 0 #444,2px 2px 0 #444,3px 3px 0 #444;
  width: 100px;
  display: inline-block;
  background-color: orange;
  color: white;
  font-size: 6rem;
  margin-right: 15px;
  border-radius: 15px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.numbers .selected {
  background-color: white;
}

.numbers .num:hover {
  cursor: pointer;
}
.num.last {
  margin-right: 0px;
}
.num.action {
  background-color: #646060;
}

.numbers .row {
  margin-top: 10px;
  padding-left: 17px;
}
.numbers button {
  box-shadow: 1px 1px 0 #CCC,1px 1px 0 #CCC, 2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  width: 200px;
  height: 100px;
  display: inline-block;
  background-color: pink;
  color: blue;
  font-size: 4rem;
  margin-right: 5px;
  border-radius: 5px;
  height: 100px;
  line-height: 50px;
  text-align: center;
}
.numbers button:hover {
  cursor: pointer;
}
button.last {
  margin-right: 0px;
}
button.action {
  background-color: #646060;
}

.title {
  text-align: center;
  color: red;
  text-shadow: 1px 1px 0 #CCC,2px 2px 0 #CCC, 3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444,6px 6px 0 #444;
}

.output{
  text-align: center;
  color: red;
  font-size: 5rem;
  text-shadow: 1px 1px 0 #CCC,2px 2px 0 #CCC, 3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444,6px 6px 0 #444;
}

.countdown {
  font-size: 4em;
  height: 100px;
  width: 100px;
  line-height: 107px;
  border-radius: 100px;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  background: white;

}

.roll {
  margin: 2%;
  background-color: blue;
  color: white;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  width: 200px;
  height:100px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 1px 0 #CCC,1px 1px 0 #CCC, 2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
}

.reset {
  margin: 2%;
  background-color: blue;
  color: white;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  width: 200px;
  height:100px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 1px 0 #CCC,1px 1px 0 #CCC, 2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
}


#result {
  background-color: white;
  display: inline-block;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  font-size: 50px;
  line-height: 2.5em;
  /*box-sizing: border-box;*/
  text-align: center;

}

.buttons {
  bottom: 0;
  position: relative;
  left: 0;
  right: 0;
}

#begin {
  font-size: 40px;

}
